:root {
    --primary-color: #ffb339;
    /* forest green */
    --secondary-color: #ff7300;
    /* warm sand */
    --accent1-color: #102933;
    /* dark slate blue */
    --accent2-color: rgb(0, 8, 44);
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

    /* ME */
    --background-basic: rgb(255, 255, 230);
}