:root {

    --basic-border: 1px solid black;
    --dark-blue: rgb(0 0 139);
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--dark-blue);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--dark-blue);
}

main img {
    width: 150px;
    height: auto;
    border: var(--basic-border);
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--basic-border);
    padding: 1rem;
    background-color: #d4ffdc;
    color: #222;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--basic-border);
    text-align: center;
}